$cellSize: 32px;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: 'digital-7regular' ;
  src: local('digital-7regular'), url('./webfontkit-20181027-095832/digital-7-webfont.woff2') format('woff2'),
       url('./webfontkit-20181027-095832/digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  width: 100vw;
}

.appContainer {
  width: 400px;
  margin: 0 auto;
  border: 1px solid red;
  background-color: lightgrey;
}

.top_bar {
  background-color: lightgrey;
  color: #fff;
  // margin-bottom: 10px solid white;
}

// niebieski pasek
header {
  background-color: #000080;
  background-image: linear-gradient(to right, #000080, #A1CAF0);
  position: relative;
  padding: 3px;
  display: flex;
  border: none;

  img {
    height: 25px;
    width: 25px;
  }

  h1 {
    margin-left: 5px;
    font-weight: 900;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    display: inline-block
  }
}

  //główne menu
.gameBtn{
  color: black;
  display: inline-block;
  height: 25px;
  margin-bottom: 10px solid white;
  padding: 3px;
}

.gameBtn::first-letter {
    text-decoration: underline;
}

.gameBtn:hover {
  background-color: #2367C5;
  color: white;
}

.help {
  display: inline-block;
  color: black;
  padding: 3px;
}

.help::first-letter {
  text-decoration: underline;
}

.help:hover {
  background-color: #2367C5;
  color: white;
}

.menu {
  margin-bottom: 10px solid white;
}

.menuItem {
  position: absolute;
  top: 65px;
  display: block;
  width: 110px;
  margin: 0;
  padding: 0;
  border: 1px solid grey;

  li {
    list-style: none;
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 25px;
    margin: 0;
    padding: 5px;
  }

  li:hover {
    background-color: #2367C5;
    color: white;
  }
}


.back {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
}

// sekcja z wyświetlaczami
section {
  width: 285px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto; 
  background-color: lightgrey;
  border: 5px solid;
  border-color: #7d7d7d #fff #fff #7d7d7d;
}

.digital {
  background-color: black;
  color: red;
  width: 40px;
  height: 36px;
  text-align: center;
  font-family: 'digital-7regular';
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}

.btnEmoticon {
  width: 30px;
  height: 30px;
  background-image: url("./img/emoticons.png");
  background-repeat: no-repeat;
  background-size: 210%;

  .newGame {
    background-position: 0px 0px;
  }

  .ups {
    background-position: -30px 0px;
  }

  .lost {
    background-position: -30px -26px;
  }

  .won {
    background-position: 1px -26px;
  }
}

// plansza gry

.board {
  top: 200px;
  display: flex;
  padding: 0;
  margin-top: 10px;
  border: 5px solid;
  margin-bottom: 10px;
  border-color: #7d7d7d #fff #fff #7d7d7d;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
    width: $cellSize;
    height: $cellSize;
  }
.cell {
  width: $cellSize;
  height: $cellSize;
  margin: 0;
  background-color: lightgrey;
  padding: 0;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.open {
  border: 1px solid #7d7d7d;
  width: 36px;
  height: 36px;
}

.closed {
  border-color:  #fff  #7d7d7d  #7d7d7d #fff;
}

.interactive {
  .closed:active {
    border-color: #7d7d7d #fff #fff #7d7d7d;
  }
}

.nonInteractive {
}