body {
  margin: 0;
  width: 100vw;
}

.appContainer {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

.top_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 70px;
  background-color: lightgrey;
  color: #fff
}

.board {
  display: flex;
}


.row {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

$cellSize: 32px;

.cell {
  width: $cellSize;
  height: $cellSize;
  margin: 0;
  background-color: lightgrey;
  padding: 0;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.open {
  border: 1px solid #7d7d7d;
  width: 36px;
  height: 36px;
}

.closed {
  border-color:  #fff  #7d7d7d  #7d7d7d #fff;
}

.interactive {
  .closed:active {
    border-color: #7d7d7d #fff #fff #7d7d7d;
  }
}

.nonInteractive {

}

.flag {
  .mast {

    $size: 12px;

    display: block;
    width: $size/4;
    height: $size;
    background: black;
    position: relative;

    &::before,
    &::after {
      display: block;
      position: absolute;
      width: $size;
      content: '';
      height: $size/4;
      background: black;
      bottom: -$size/4;
      left: -$size/4 - $size/8;
    }

    &::after {
      width: $size + $size/2;
      bottom: -$size/2;
      left: -$size/4 - $size/4 - $size/8;
    }

    &__flag {
      display: block;
      border: $size solid red;
      border-color:  transparent red transparent transparent ;
      border-width: $size/2 + $size/8 $size;
      position: absolute;
      top: -$size + $size/8;
      left: -$size - $size/2 - $size/4;
    }
  }
}

